body {
	background: #ffffcc;
	font-family: monospace;
}

a {
	color: gray;
}

.crop-img {
	max-height: 150px;
	max-width: 100%;
	margin-bottom: 10px;
}

.large-img {
	max-height: 100%;
	margin-top: 10px;
}


/*@media (min-width: 1000px) {
	img {
		width: 25%;
	}
}*/
